/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom Font */

@font-face {
    font-family: 'caveat';
    src: url('./fonts/caveat/Caveat-VariableFont_wght.ttf');
}

/* Overall Website CSS */

html {
    font-family: 'caveat', sans-serif;
    background-image: url('./img/background-pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #e7e7e9;
}

/* Fixed Header */

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.818);
}

#restaurant-name-and-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    margin-top: 0.5em;
    margin-left: 1em;
}

#teriyaki-img {
    height: 3em;
    width: auto;
}

.tab-button {
    font-family: 'caveat', sans-serif;
    border: none;
    background: none;
    font-size: 1.5em;
    height: 2em;
    margin-right: 0.8em;
    color: #e7e7e9;
}

.tab-button:hover {
    cursor: pointer;
    color: yellow;
}

#content {
    display: flex;
    flex-grow: 1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
}

#github-link {
    margin: 0.5em;
    color: #e7e7e9;
    text-decoration: none;
}

#github-link:hover {
    color: yellow;
    text-decoration: none;
}

/* Styling for Phone */

@media (max-width: 540px) {
    #restaurant-name-and-image {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5em;
        margin-top: 0.5em;
        margin-left: 0.8em;
    }
}
